body{
    background-color: royalblue;
}
h1{
    color: aliceblue;
    position: relative;
    right: -30%;
    top: 0%;
}
.header_border{
    position: relative;
    right: -25%;
    width: 40%;
}
.contact_link{
    background-color: aliceblue;
    position: absolute;
    top: 90%;

}
.premium_ad{
    border: 0px solid yellow;
    height: 100px;
    width: 80%;
    right: -10%;
    background-image: url("bc_image.jpg") ;
    border-radius: 5px;
    position: relative;
}
.prem{
    color: white;
}
.pro{
    position: relative;
    color: black;
    top: -75%;
}
.prop{
    position: relative;
    width: 30px;
    height: 20px;
    border: 3px solid gold;
    border-radius: 15px;
    background-color: gold;
}
.premium_page{
    position: relative;
    top: -70%;
    right: -70%;
    border: 0% solid white;
    border-radius: 3%;
}
.prem_page{
    background-color: gold;
}
.home_btn{
    border: 0% solid white;
    background-color: beige;
    border-radius: 3%;
    width: 15%;
    position: relative;
    top: auto;
    right: -30%;
}